#work {
  width: 100%;
  height: 100vh;
  padding: 8rem 8rem;
  margin-block: 5rem;

  .workHaed {
    font: 700 2.5rem black !important;
    padding: 0.5rem;
    margin: auto;
    text-align: center;
  }

  .sectionHaed {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .right {
    display: flex;
    gap: 2rem;
    h2 {
      color: rgb(244, 240, 240);
      margin: 1rem 0;
    }
  }
}

@media screen and (max-width: 768px) {
  #work {
    width: 100%;
    height: 60vh;
    padding: 0;
  }
}
