.ViewProject {
  .Project {
    width: 100vw;
    height: 80vh;

    background: url("https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    margin-bottom: 2rem;

    .Project-overlay {
      width: 100vw !important;
      height: 80vh !important;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;

      .ProjectHead {
        margin-left: 5rem !important;
        width: 9rem !important;
        font-size: 3rem !important;
        border-bottom: 10px solid var(--primary-color);
        letter-spacing: 2px;
        margin-bottom: 5px;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    .card {
      width: 300px;
    }
  }
}

.ant-image-img {
  // height: 400px;
  object-fit: contain;
  color: red;
}

@media screen and (max-width: 1200px) {
  .ViewProject {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 1rem;
      padding: 0;
      margin-left: 0 2rem;
    }
  }
}
@media screen and (max-width: 760px) {
  .ViewProject {
    .Project {
      height: 60vh;

      .Project-overlay {
        height: 60vh !important;
        .ProjectHead {
          margin-left: 0px !important;
          margin-bottom: 10rem;
          font-size: 2.5rem !important;
        }
      }
    }

    .grid {
      grid-template-columns: 1fr;
      gap: 1rem;
      padding: 1rem;
      padding: 0;
      margin-left: 0;
    }
    .card {
      margin: 1rem 8px;
    }
  }
}
